---
import BaseLayout from '../layouts/Base.astro';
---

<BaseLayout title="Contact Page">
    <h1>This page is currently under construction - please check back soon for more information.</h1>
</BaseLayout>